 :root{
            --header:#7986CB;
        }
        h2{
            background-color:#C5CAE9 ;
           
        }
        h3{
            font-size: 25px;
        color:#1A237E;
        font-family: 'Times New Roman';
        background-color: var(--header);
        


        }
        body{
            background-color:#C5CAE9 ;
        }
        img{
            border-radius: 180px;
            width: 120px;
        }
        #button{
            
                border: 2px solid #E8EAF6;
                color:black;
                text-decoration: none;
                border-radius: 50px;
                background-color: #7986CB;
                padding: 10px;
              
        }
      